/*  ashworthtrust.org
    august 2013
    angelo@fluxton.co.uk

    from kathy:;
    Writing: #0000D9 (dark blue) -> 006c90
    Tabs:  #0094C6 (mid blue)
    Pages: #F6F0CE (cream)
    Surround: #FFEA98 (dark cream/yellow)
    Writing on tabs: #F6F0CE (cream)
*/


/*  -- global styles --  */

* {
    margin: 0 0 18px 0;
    padding: 0;
}

article, aside, figure, footer, header, nav, section {
    display: block;
}

#content, #confirm, .button, nav li a, .reveal-modal {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


/*  -- page layout --  */

#page_wrap {
    width: 902px;
    margin: 20px auto 40px auto;
}

nav {
    width: 100%;
    position: relative;
    height: 58px;
    margin: 0px 0px 0 0px;
}

#content {
    padding: 36px 50px;
    /*background-color: #A3F7AD;*/
    background-color: #F6F0CE;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}


/*  -- typography --  */

body {
    /*background: #81c489 url('bg.png');*/
    /*background: #FFEA98;*/
    background: #FFEA98;
    font: normal 20px/26px Georgia, Times, "Times New Roman", serif;
    color: #006c90;
}

header {
    text-align: center;
    padding: 18px 0 2px 0;
}

h1, h2, a, header {
    font-family: Calibri, Tahoma, Verdana, Arial, sans-serif;
}

h1 {
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    font-size: 34px;
    letter-spacing: 1px;
}

#content ul {
    margin: 0 0 30px 100px;
    list-style-image: url('images/tick.png');
    list-style-position: outside;
    width: 75%;
}

#content ul.neg {
    list-style-image: url('images/cross.png');
}

.indented {
    padding: 10px 0 0px 10px;
}

.numbers {
    font-size: 20px;
}

#confirm {
    background: #81c489;
    background: #0094c6;
    border: 2px dotted #2E4560;
    width: 400px;
    margin: 24px auto;
    padding: 36px;
    text-align: center;
    color: black;
}

.button {
    width: 180px;
    border: 3px dotted #7f2126;
    background-color: #2e4560;
    color: #f7f7f7;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 0 -10px 0;
    text-decoration: none;
}

    .button:hover {
        background-color: #FFEA98;
        color: #0094c6;
        cursor: "pointer"
    }

    .button:active {
        background-color: #c9f7b4;
        color: #d0a256;
    }


/*
    -- navigation --
*/

nav {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    /*margin: 0 0 0 -36px;*/  /* so first tab is flush */
}

nav li {
    display: block;
    float: left;
}

nav li.normal {
    margin: 0px 0px 0 50px;  /* gap between tabs */
}

nav li a {
    display: block;
    color: #F6F0CE;
    background: #0094C6;
    text-decoration: none;
    letter-spacing: 1px;
    width: 188px;
    padding: 16px 0px 16px 0px;
    text-align: center;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

nav li a:hover {
    background: #006c90;
    color: #F6F0CE;
}

nav li a.current {
    color: #006c90;
    background: #F6F0CE;
    font-size: 34px;
}

nav li.solicitors {
    /*margin: 0 0px 0 52px;*/
    float: right;
    color: blue;
}
